# Practice [Data Cleaning in Pandas]

## Overview:

#### Outcomes at the Austin Animal Center

Austin Animal Center is the municipal shelter for Austin, TX. You are a consulting data scientist helping the shelter understand the factors contributing to various final outcomes of shelitered animals (adoption, euthanasia, etc.). They want a tool that will use this information to automatically flag animals that are at risk of ending up being euthanised. You have been provided with data from the following source:

Data source: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238


Before conducting EDA and model building, you will need to clean your data. This will require you to:


- Handle missing data, and recognize when different strategies for handling missing data would be appropriate
- Deal with duplicate data
- Use string vectorized methods to transform object-type columns
- Use DataFrame vectorized methods to apply custom transformations to data

In [ ]:
# Imports

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

1. Load the animal center outcomes data as `df`.

In [ ]:
# your code here

2. Inspect the head.

In [ ]:
# your code here

3. Get information on columns: null count and data types in DataFrame

In [ ]:
# Check it out

4. `DateTime` and `Date of Birth` are dtype `object`. Convert them to an appropriate data type.

In [ ]:
# your code here

5. The `Outcome Subtype` has a lot of nulls (more than half). It's not reasonable to impute these many missing values with a simple imputation strategy. Drop this feature.

In [ ]:
# your code here



# outcome subtype should no longer be in the list of columns
print(df.columns)

6. Return a dataframe with all duplicated rows in the dataset.

In [ ]:
# your code here

7. Remove all duplicates from the dataframe.

In [ ]:
# your code here

Age has a few nulls. Notice that the dtype for the column is object and the entries are strings:

In [ ]:
# run this cell without changes
print(df['Age upon Outcome'].isna().sum()) # there are 5 NaNs
print(df['Age upon Outcome'].dtype) 
print(df['Age upon Outcome'].head())

The ages are strings with the number and a particular unit of time (days, months, or years). We need to clean this up.

8. Split the number and unit and put these into two new columns named `Age Number` and `Age Unit` respectively.

In [ ]:
# your code here


print(df.columns)

9. Let's convert our Ages to be in units of days. First convert the `Age Unit` column to its corresponding number in days. We have provide the dictionary for unit conversion:

In [ ]:
# Providing this dictionary to capture age values in # days (not perfect)
age_vals = {
    'years': 365,
    'year': 365,
    'months': 30,
    'month': 30,
    'weeks': 7,
    'week': 7,
    'days': 1,
    'day': 1
}

# your code here

10. Convert the `Age Number` column to 'Int16' datatype. Then express the `Age Upon Outcome` in days using the `Age Number` and converted `Age Unit` columns.

In [ ]:
# your code here

0    730.0
1    365.0
2    365.0
3    120.0
4      6.0
Name: Age upon Outcome, dtype: Float64

11. Plot a histogram of `Age upon Outcome` along with median of the column.

In [ ]:
# your code here

12. The median looks to be a measure of central tendency. Impute `Age upon Outcome' with the median.

In [ ]:
# your code here

13. The string cleaning and statistical imputation did work OK but in this case there was a much better option. We actually can compute the `Age upon Outcome` from two other columns in the dataset: `DateTime` and `Date of Birth`. Neither of these columns have nulls. Take the difference of the two columns, convert to days (use the vectorized dt.days attribute), and assign the resulting series to `Age upon Outcome`.

In [ ]:
# your code here



print("There are " + str(df['Age upon Outcome'].isna().sum()) + " missing values.")
print(df['Age upon Outcome'].head())

There was no guess work that was required to impute the values in the `Age upon Outcome` value.

14. Use `.map()` to turn the Sex upon Outcome column into a category with three values: Fixed, Intact, or Unknown. We have provided you a function `fixed_mapper` that transforms the distinct categories to our desired three values (Fixed, Intact, Unknown). This function will turn any NaNs to category Unknown -- explicitly making missing values its own category. Create a new column `Grouped Sex upon Outcome` that results from transforming `Sex upon Outcome` with `fixed_mapper`:

In [ ]:
# run cell without changes

# print Categories in column
print(df['Sex upon Outcome'].unique())

# Provided function
def fixed_mapper(status):
    '''
    Takes in the current status of animals and outputs whether they have been fixed
    '''
    if status in ['Neutered Male', 'Spayed Female']:
        return 'Fixed'
    elif status in ['Intact Male', 'Intact Female']:
        return 'Intact'
    else:
        return 'Unknown'

['Neutered Male' 'Unknown' 'Intact Male' 'Spayed Female' 'Intact Female'
 nan]

In [ ]:
# Your code here

15. Create a bar graph to display the counts in each category for `Grouped Sex upon Outcome`.

In [ ]:
# your code here

16. `Outcome Type` is the target we are trying to predict. Count the number of nulls here:

In [ ]:
# Your code here

17. Drop all rows containing nulls in the `Outcome Type` column.

In [ ]:
# Your code here

Printing nulls in the dataset now:

In [ ]:
# Sanity Check. Run cell without changes.
df.isna().sum()

18. There are a lot of nulls in the `Name` column. While the exact name of an animal might not matter too much, maybe whether the animal has a name might indicate whether it was owned before. This might conceivably impact outcome for adoption. 

Thus, build a binary categorical variable that indicates whether a name is missing -- i.e. an indicator for whether a value is null or not. This should be a new column `Name Missing`.

In [ ]:
# Your code here

19. Create a new dataframe `clean_df` where all columns with NaNs have been dropped:

In [ ]:
# your code here

20. Print info on the cleaned dataframe and save the cleaned dataframe to a file `cleaned_animal_data.csv`.

In [ ]:
# your code here